{%extends 'base.html'%}
{% load static %}
{%block 'titulo'%} Pagina Principal {%endblock%}

{%block 'conteudo'%}
    <header>
        <h1>MARCELO</h1>
    </header>

    <div id="conteudo">
        <span>
            <div id="sobre">
                <h2>sobre mim</h2>
                <p class="descricao">
                    <ul class="descricao">
                        <li>Me chamo Marcelo</li>
                        <br>
                        <li>22 anos, de São Luís-MA</li>
                        <br>
                        <li>No 3º periodo de Redes de Computadores no IFMA-São João dos Patos</li>
                        <br>
                        <li>Possuo conhecimentos em Python, MySQL e me aventuro no front-end</li>
                    
                    </ul>
                    
                </p>
                     
            </div>
            <img id="l1" src="{% static 'imagens/Lgif.gif' %}" alt="">
        </span>     
        
        <span>
            <div id="projetos">
                <h2>projetos</h2>
                <p class="descricao">
                    Ando fazendo uns projetos médio solo
                    (nada postado no repositorio ainda)
                    mas se quiser da uma olhada nos projetos pequenos que fiz usando apenas Python
                    <a class="links" target="_blank" rel="external" href="https://github.com/marcelo-py">segue o link</a> 

                </p>
                
            </div>
            <img id="l2" src="{% static 'imagens/morcegobatman.gif' %}" alt="">
        </span>

        
        <span>
            <div id="contatos">
                <h2>contatos</h2>
                <a class="contato_link" href="https://www.facebook.com/marcelo.jovi.7"><img class="contatos" src="{% static 'imagens/facebook_icone.png' %}" alt=""></a>
                <a class="contato_link" href="https://www.instagram.com/marcell0.o"><img class="contatos" src="{% static 'imagens/insta_icone.png' %}" alt=""></a>
                <a class="contato_link" href="https://github.com/marcelo-py"><img class="contatos" src="{% static 'imagens/github_icone.png'%}" alt=""></a>
                <p>
                    <img style="height: 20px; width: 20px; margin-top: 40%; margin-bottom: 0%;" class="contatos" src="{% static 'imagens/email_icone.png' %} " alt=""><address>marcelo.araujo.999s@gmail.com</address>
                </p>      
            </div>
            <img id="l3" src="{% static 'imagens/Lgif.gif' %}" alt="">
        </span>
        <div id="mensagens">
            <h2 style="text-shadow: 0 0 1px white;">mensagens anonimas</h2>
            {%for mensagem in mensagens%}
                {% if mensagem.mensagem %}
                    <p id="mensage">
                        <b>{{ mensagem.usuario }}:</b> <code>{{ mensagem.mensagem }}</code> 
                    </p>
                {%endif%}
            {%endfor%}       
        </div>
        <form id="mandamsg" action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ usuario }}
            <button type="submit">Enviar</button>
            {%if fform.is_valid == 'POST'%}
                <p>mensagem envasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssida!</p>
            {%endif%}
        </form>
    </div>
    
{%endblock%}